npm config set init.author.name "ZIA UR REHMAN"
npm config set init.author.email "ziaurrehman72@yahoo.com"
npm config set init.author.url "http://techiehormone.com"
npm config set init.license "GNU"
npm config set init.version "0.0.1"
